<div class="container">
 <h2>Edit Advance Salary</h2>

 <form #advanceSalaryForm="ngForm" (ngSubmit)="updateAdvanceSalary()">
  <div class="form-group">
   <label for="user">User</label>
   <select class="form-control" id="user" [(ngModel)]="advanceSalary.user" name="user" required>
    <option *ngFor="let user of users" [ngValue]="user">{{ user.fullName }}</option>
   </select>
  </div>

  <div class="form-group">
   <label for="advanceSalary">Advance Salary</label>
   <input type="number" id="advanceSalary" class="form-control" [(ngModel)]="advanceSalary.advanceSalary"
    name="advanceSalary" required />
  </div>

  <div class="form-group">
   <label for="reason">Reason</label>
   <input type="text" id="reason" class="form-control" [(ngModel)]="advanceSalary.reason" name="reason" required />
  </div>

  <div class="form-group">
   <label for="advanceDate">Advance Date</label>
   <input type="date" id="advanceDate" class="form-control" [(ngModel)]="advanceSalary.advanceDate" name="advanceDate"
    required />
  </div>

  <div class="form-group">
   <label for="year">Year</label>
   <input type="number" id="year" class="form-control" [(ngModel)]="advanceSalary.year" name="year" required />
  </div>

  <div class="form-group">
   <label for="advanceMonth">Advance Month</label>
   <select class="form-control" id="advanceMonth" [(ngModel)]="advanceSalary.advanceMonth" name="advanceMonth" required>
    <option *ngFor="let month of months" [ngValue]="month">
     {{ month }}
    </option>
   </select>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">
   Cancel
  </button>
 </form>
</div>