.create-user-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* create-user.component.css */
.mandatory-icon {
  color: red; /* or any color you prefer */
  margin-right: 5px; /* spacing between icon and text */
}


label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #29ab2d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}

button:disabled {
  background-color: #b3aaaa;
  cursor: not-allowed;
}

