<form (ngSubmit)="createAdvanceSalary()">
 <div class="form-group">
  <label for="advanceSalary">Advance Salary</label>
  <input type="number" id="advanceSalary" [(ngModel)]="advanceSalary.advanceSalary" name="advanceSalary"
   class="form-control" required />
 </div>

 <div class="form-group">
  <label for="reason">Reason</label>
  <input type="text" id="reason" [(ngModel)]="advanceSalary.reason" name="reason" class="form-control" required />
 </div>

 <div class="form-group">
  <label for="advanceDate">Advance Date</label>
  <input type="date" id="advanceDate" [(ngModel)]="advanceSalary.advanceDate" name="advanceDate" class="form-control"
   required />
 </div>

 <div class="form-group">
  <label for="year">Year</label>
  <input type="number" id="year" [(ngModel)]="advanceSalary.year" name="year" class="form-control" required />
 </div>

 <div class="form-group">
  <label for="advanceMonth">Advance Month</label>
  <select id="advanceMonth" [(ngModel)]="advanceSalary.advanceMonth" name="advanceMonth" class="form-control" required>
   <option *ngFor="let month of months" [value]="month">{{ month }}</option>
  </select>
 </div>

 <div class="form-group">
  <label for="user">User</label>
  <input type="number" id="user" [(ngModel)]="advanceSalary.user.id" name="user" class="form-control" required />
 </div>

 <button type="submit" class="btn btn-primary">Create Advance Salary</button>
</form>