<div class="container">
  <h2>Create Advance Salary</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="user" class="form-label">User:</label>
      <select id="user" [(ngModel)]="advanceSalary.user" name="user" required #userId="ngModel">
        <option *ngFor="let user of users" [ngValue]="user">{{ user.fullName }}</option>
      </select>
      <div *ngIf="userId.invalid && (userId.dirty || userId.touched)" class="text-danger">
        User is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="amount" class="form-label">Advance Amount:</label>
      <input type="number" id="amount" [(ngModel)]="advanceSalary.advanceSalary" name="advanceSalary" required min="1"
        #advanceAmount="ngModel" class="form-control" />
      <div *ngIf="advanceAmount.invalid && (advanceAmount.dirty || advanceAmount.touched)" class="text-danger">
        Amount is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="reason" class="form-label">Reason:</label>
      <input type="text" id="reason" [(ngModel)]="advanceSalary.reason" name="reason" required #reason="ngModel"
        class="form-control" />
      <div *ngIf="reason.invalid && (reason.dirty || reason.touched)" class="text-danger">
        Reason is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="advanceDate" class="form-label">Advance Date:</label>
      <input type="date" id="advanceDate" [(ngModel)]="advanceSalary.advanceDate" name="advanceDate" required
        #advanceDate="ngModel" class="form-control" />
      <div *ngIf="advanceDate.invalid && (advanceDate.dirty || advanceDate.touched)" class="text-danger">
        Advance date is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Advance Salary</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </form>
</div>
