<!-- <h2>Current User Details</h2>

<div *ngIf="currentUser; else noUser">
 <p><strong>ID:</strong> {{ currentUser.id }}</p>
 <p><strong>Full Name:</strong> {{ currentUser.fullName }}</p>
 <p><strong>Email:</strong> {{ currentUser.email }}</p>
 <p><strong>Contact:</strong> {{ currentUser.contact }}</p>
 <p><strong>Role:</strong> {{ currentUser.role }}</p>
</div>

<ng-template #noUser>
 <p>No user is currently logged in.</p>
</ng-template> -->

<!-- <div *ngIf="currentUser">
 <h2>Welcome, {{ currentUser.fullName }}</h2>
 <p>Email: {{ currentUser.email }}</p>
 <p>Contact: {{ currentUser.contact }}</p>
</div>
<div *ngIf="!currentUser">
 <p>No user is logged in.</p>
</div> -->