<div class="forgot-password-container">
 <h2><fa-icon [icon]="faKey"></fa-icon> Forgot Password</h2>
 <!-- <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()"> -->
 <div class="form-group">
  <label for="email"><fa-icon [icon]="faEnvelope"></fa-icon> Email</label>
  <div class="input-group">
   <div class="input-group-prepend">
    <span class="input-group-text">
     <fa-icon [icon]="faEnvelope"></fa-icon>
    </span>
   </div>
   <input id="email" formControlName="email" type="email" class="form-control" placeholder="Enter your email address" />
  </div>
  
  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
   <div *ngIf="email.errors?.['required']">Email is required.</div>
   <div *ngIf="email.errors?.['email']">Invalid email address.</div>
  </div>
 </div>
 <button type="submit" class="btn btn-primary mt-3" [disabled]="forgotPasswordForm.invalid">
  <fa-icon [icon]="faPaperPlane"></fa-icon> Submit
 </button>
 <!-- </form> -->
</div>