<div class="dashboard">
 <h1>Dashboard</h1>

 <div class="metrics">
  <div class="metric">
   <h2>Total Users</h2>
   <p>{{ totalUsers }}</p>
  </div>

  <div class="metric">
   <h2>Pending Leave Requests</h2>
   <p>{{ totalPendingLeaves }}</p>
  </div>

  <div class="metric">
   <h2>Total Salary (This Year)</h2>
   <p>{{ totalSalary | currency }}</p>
  </div>
 </div>
</div>



<!-- <br> <br> <br> <br>
<h1 class="text-success text-center">Dashboard coming soon.... !!!!<br> <br></h1>
<h4 class="text-info text-center">We are trying to upgrading the system......! <br> <br></h4>
<h4 class="text-warning text-center">Please wait, untill the dashboard is come.....!</h4>
<br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br> -->