<h2><fa-icon [icon]="faUsers"></fa-icon> User List</h2>
<table>
 <thead>
  <tr>
   <th><fa-icon [icon]="faIdBadge"></fa-icon> ID</th>
   <th><fa-icon [icon]="faUser"></fa-icon> Name</th>
   <th><fa-icon [icon]="faEnvelope"></fa-icon> Email</th>
   <th><fa-icon [icon]="faPhone"></fa-icon> Contact</th>
   <th><fa-icon [icon]="faUserTag"></fa-icon> Role</th>
   <th><fa-icon [icon]="faCog"></fa-icon> Actions</th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let user of users">
   <td>{{ user.id }}</td>
   <td>{{ user.fullName }}</td>
   <td>{{ user.email }}</td>
   <td>{{ user.contact }}</td>
   <td>{{ user.role }}</td>
   <td>
    <button (click)="deleteUser(user.id)">
     <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <button [routerLink]="['/user/edit', user.id]">
     <fa-icon [icon]="faEdit"></fa-icon>
    </button>
   </td>
  </tr>
 </tbody>
</table>

<a routerLink="/user/create">
 <fa-icon [icon]="faUserPlus"></fa-icon> Add New User
</a>