<!-- Navbar -->
<!-- <div class="m-3 sticky-top top">
  <h1> Class System </h1>
  <h6> Md Raju Ahmed</h6>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
 <div class="container-fluid">
  <a class="navbar-brand" href="#">HR & PM System</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <!-- <span class="navbar-toggler-icon"></span> -->
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <!-- Navigation links based on user roles -->
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
     <a class="nav-link active" aria-current="page" href="/home">Home</a>
    </li>

    <!-- <ng-container *ngIf="userRole === 'Admin'"> -->
     <!-- Admin-specific links -->


     <!-- Manager Panel -->
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manager
       </a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/managers/create">Add Manager</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/managers/list">Manager List</a></li>

       </ul>
      </li>
     </ul>

     <!-- Employee Panel -->
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Employee
       </a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/employees/create">Add Employee</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/employees/list">Employee List</a></li>
       </ul>
      </li>
     </ul>

     <!-- Department Panel -->
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Department</a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/departments/create">Add Department</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/departments/list">Department List</a></li>
       </ul>
      </li>
     </ul>

     <!-- Location Panel -->
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Location</a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/locations/create">Add Location</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/locations/list">Location List</a></li>
       </ul>
      </li>
     </ul>

     <!-- Miscellaneous Panel -->
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Miscellaneous</a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/attendances/list">Attendance</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/Performances/list">Performance</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/leaves/list">Leave</a></li>
        <li>
         <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/feedbacks/list">Feedback</a></li>
       </ul>
      </li>
     </ul>
    <!-- </ng-container> -->

    <!-- <ng-container *ngIf="userRole === 'User'"> -->
     <!-- User-specific links -->
     <!-- Employee Panel -->
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="nav-link " routerLink="/attendances/create" aria-expanded="false">
       Attendance
      </a>
     </ul>
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="nav-link " routerLink="/feedbacks/create" aria-expanded="false">
       Feedback
      </a>
     </ul>
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="nav-link " routerLink="/leaves/create" aria-expanded="false">
       Leave
      </a>
     </ul>
    <!-- </ng-container> -->
   </ul>

   <!-- Profile and Search Forms -->
   <!-- <ng-container *ngIf="userRole"> -->

    <!-- <form class="d-flex me-4 me-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
    <!-- Profile dropdown -->
    <ul class="navbar-nav d-flex me-4 me-auto">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Profile </a>
      <ul class="dropdown-menu">
       <li>
        <a class="dropdown-item" routerLink="/userprofile">View Profile</a>
       </li>
       <li>
        <hr class="dropdown-divider">
       </li>
       <li>
        <a class="dropdown-item" routerLink="/logout">Log Out</a>
       </li>
       <li>
        <hr class="dropdown-divider">
       </li>
       <li>
        <a class="dropdown-item" routerLink="/forgetpassword">Forget Password?</a>
       </li>
      </ul>
     </li>
    </ul>
   <!-- </ng-container> -->

   <!-- Log In Button: Only show if no user is logged in -->

   <!-- <ng-container *ngIf="!userRole"> -->
    <ul class="navbar-nav">
     <li class="nav-item dropdown">
      <a class="btn btn-info text-white" routerLink="/login" role="button" aria-expanded="false">
       Log In
      </a>
     </li>
    </ul>
   <!-- </ng-container> -->

  </div>
 </div>
</nav>